{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <h2>Обратная связь</h2>
{% for message in messages %}
    <div class="{{ message.tags }}">{{ message }}</div>
{% endfor %}
    <div class="container">
    <div class="row">
        <div class="form-control">
            <form class="" method="post">
                {% csrf_token %}
                {{ feedback_form.as_p }}
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}