{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
     <h2>Просмотреть фидбеки</h2>
<table border="1" style="width:100%">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Text</th>

    </tr>
    {% for feedback in feedbacks %}
        <tr>
            <td>{{ forloop.counter }}</td>
        <td>{{ feedback.name }}</td>
        <td>{{ feedback.email}}</td>
        <td>{{ feedback.text }}</td>
        </tr>
    {% endfor %}

</table>
{% endblock %}
