{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Вход</h1>
            <div class="account-wall">
                <form class="form-signin" method="post">
                    {% csrf_token %}
                <input type="text" class="form-control" placeholder="Логин" required autofocus name="username">
                <input type="password" class="form-control" placeholder="пароль" required name="password">
                <input type="submit" class="btn btn-success" value="Войти">
                </form>
            </div>
            <a href="{% url 'register' %}" class="text-center new-account">Регистрация</a>
        </div>
    </div>
</div>
{% endblock %}